<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tecsun.jc.base">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- 获取MAC地址-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application>
        <activity
                android:name=".ui.activity.WebViewActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"
                android:launchMode="singleTop"/>

        <activity
                android:name=".ui.activity.DownLoadActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"
                android:launchMode="singleTop"/>



        <service android:name="com.tecsun.jc.base.sign.check.CheckTokenService"/>
    </application>

</manifest>
